{% load static %}
{% block content %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'app_principal/css/login.css' %}">
{% endblock %}

<main>
  <h1>Login</h1>

  {% if form.errors %}
  <p>Su nombre de usuario y contraseña no coinciden. Inténtalo de nuevo.</p>
  {% endif %}

  {% if next %}
  {% if user.is_authenticated %}
  <p>Su cuenta no tiene acceso a esta página. Para continuar, inicie sesión con una cuenta que tenga acceso.</p>
  {% else %}
  <p>Por favor inicie sesión para ver esta página.</p>
  {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <input type="submit" value="Ingresar">
    <input type="hidden" name="next" value="{{ next }}">
  </form>

  <form method="get" action="{% url 'index' %}">
    <input type="submit" value="Volver al Inicio">
  </form>
</main>
{% endblock %}